<span class="breadcrumb" routerLink="/">Themenauswahl</span> > Dateisysteme
<h3>Dateisysteme</h3>

<h3>Inhalte</h3>
<div class="Inhalte">
  <ul>
    <li>Anwenden von Verwaltung von Dateisystemen</li>
    <li>
      in Linux
      <ul>
        <li>Inodes</li>
        <li>Verzeichnisse</li>
        <li>Links (Hard links, Soft Links)</li>
        <li>Aufbau</li>
        <li>
          Verweise/Links
          <ul>
            <li>
              Datei hat Inode(Indexknotennummer) mit eindeutiger Nummer
            </li>
            <li>
              Inode=Datenstruktur
              <ul>
                <li>Dateigröße</li>
                <li>physikalische Position</li>
                <li>Zugriffsrechte</li>
                <li>Erstellungs/ letzte Modifikatinoszeit</li>
              </ul>
            </li>
            <li>Dateiname=Verweis auf Inode</li>
            <li>Inode kann mehreren Dateinamen zugeordnet werden</li>
            <li>Zuordnung= Hard Link/Referenz</li>
            <li>
              Dateien, die Pfad zur verlinkten Datei enthalten = Soft
              Link/Sysmbolischer Link
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      In Windows(FAT)
      <ul>
        <li>FAT (Tabelle)</li>
        <li>Stammverzeichnis</li>
        <li>
          Stammverzeichnis und FAT
          <ul>
            <li>
              Wurzelverzeichnis/Satmmverzeichnis enthält Adressen zu FAT
            </li>
            <li>
              FAT enthält Name und Zeiger auf nächstes Element oder einer End of
              File Annotation
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>Cluster</li>

    <li>Metadaten</li>
    <li>Adressierung</li>
  </ul>
</div>
<h3>Zettel</h3>
<div class="zettel">
  <ul>
    <li>FAT Größen</li>
    <li>Beispiel Verteilung</li>
    <li>Beispiel Adressierung</li>
  </ul>
</div>
