<h2>Inhalte der Klausur:</h2>
<nav>
  <a routerLink="/Linux">Linux</a>
  <a routerLink="/Codierung">Codierung</a>
  <a routerLink="/Schaltungssynthese">Schaltungssynthese</a>
  <a routerLink="/VonNeumann">Von-Neumann</a>
  <a routerLink="/Dateisysteme">Dateisysteme</a>
  <a routerLink="/Speicher">Speicher</a>
  <a routerLink="/Prozesse">Prozesse</a>
  <a routerLink="/Synchronisation">Synchronisation</a>
</nav>
<h2>Klausurvorbereitung</h2>
<p><a routerLink="/Spickzettel">Spickzettel</a></p>

<router-outlet></router-outlet>
