<span class="breadcrumb" routerLink="/">Themenauswahl</span> > Von Neumann
<h3>Von Neumann</h3>
<div class="Inhalte">
  <ul>
    <li>
      Prizipien
      <ul>
        <li>
          Zyklus
          <ul>
            <li>FETCH: Befehl aus Speicher in Befehlsregister</li>
            <li>
              DECODE: Steuerwerk wandelt Befehl in Schaltinstruktion für
              Rechenwerk um
            </li>
            <li>FETCH OPERANDS: Evtl Parameter aus Speicher holen</li>
            <li>EXECUTE: Ausführung(Rechenwerk)</li>
            <li>
              UPDATE PROGRAM COUNTER: Befehlszähler auf nächsten Befehl
            </li>
            <li>WRITE BACK: Ergebnis in Hauptspeicher/an Ausgabegerät</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>Architektur</li>
    <li>Funktionsweise</li>
    <li>Bussysteme</li>
    <li>Rechenwerk(ALU) Steuerwerk</li>
    <li>
      Ein-/Ausgabe
      <ul>
        <li>
          Einlesen von Daten:
          <ul>
            <li>Busy Waiting</li>
            <li>Interrupt gesteuert</li>
            <li>Direct Memory Access</li>
          </ul>
        </li>
        <li>Zeichenbasiert/Blockbasiert</li>
        <li>Zugriffsarten</li>
      </ul>
    </li>
    <li>
      Speicher
      <ul>
        <li>
          Pyramide
          <ul>
            <li>hohe Kosten</li>
            <li>schneller Zugriff</li>
            <li>geringe Kapazität</li>
          </ul>
          <ol>
            <li>I Register</li>
            <li>I interner Cache</li>
            <li>I externer Cache</li>
            <li>I Hauptspeicher(RAM)</li>
            <li>II SSD/ CompactFlash</li>
            <li>II Festplatten</li>
            <li>III Optische Laufwerke</li>
            <li>III Magnetoptische Laufwerke</li>
            <li>III Magnetbänder</li>
          </ol>
        </li>
        <li>
          Caching
          <ul>
            <li>
              Write-Trough: Sofoert an tiefere Schichten weitergegeben
            </li>
            <li>
              Write-Back: Erst weitergegeben, wenn aus Cache verdrängt
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
<h3>Zettel</h3>
<div class="zettel"></div>
