<span class="breadcrumb" routerLink="/">Themenauswahl</span> > Synchronisation
<h3>Synchronisation</h3>
<div class="Inhalte">
  <ul>
    <li>Race Conditions</li>
    <li>
      Kritische Abschnitte
      <ul>
        <li>
          Sicherung
          <ul>
            <li>SoftwareLösungen( Einfacher Lock, Strikter Wechsel)</li>
            <li>Atomare Funktionen</li>
            <li>
              Semaphor
              <ul>
                <li></li>
              </ul>
            </li>
            <li>
              Deadlocks
              <ul>
                <li>Erkennen(Betriebsmittelgrapen</li>
                <li>Beheben</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
<h3>Zettel</h3>
<div class="zettel"></div>
