<span class="breadcrumb" routerLink="/">Themenauswahl</span> > Synchronisation
<h3>Synchronisation</h3>
<div class="Inhalte">
  <ul>
    <li>
      <h4>Grundlagen - Prozessinteraktion</h4>
      <ul>
        <img src="./assets/KommunikationKooperation.jpg" />
        <li>Funktionaler Aspekt: Kommunkation und Kooperation</li>
        <li>Zeitlicher Aspekt: Synchronisation</li>
      </ul>
    </li>
    <li>
      <h4>Nebenläufigkeit - Parallelität</h4>
      <ul>
        <li>Parallelität: gleichzeitig</li>
        <li>
          Nebenläufigkeit: Prozesse können parallel ausgeführt werden, müssen es
          aber nicht - kein kausaler Zusammenhang
        </li>
        <li>
          Probleme
          <ul>
            <li>
              Race Conditions
              <ul>
                <li>
                  Mehrere Prozesse lesen/schreiben in gleichen Speicherbereich
                </li>
                <li>
                  Ergebnis von Abarbeitungsreihenfolge abhängig -
                  Nichtdeterministisch
                </li>
                <li>
                  Synchronisation notwendig - Lösungen
                  <ul>
                    <li>
                      Wechselseitiger Ausschluss
                      <ul>
                        <li>
                          Es darf nur ein Prozess aktiv sein, andere müssen
                          warten
                        </li>
                        <li>Nebenläufigkeit muss ausgeschlossen werden</li>
                        <li>
                          Kompletter Prozess würde zu lange blockieren -> Nur
                          kritische Bereiche synchronisieren
                        </li>
                        <li>
                          Anforderungen
                          <ol>
                            <li>Nur 1 Prozess in kritischem Bereich</li>
                            <li>
                              Kein Prozess ausßerhalb kritischem Bereich darf
                              andere Bereiche blockieren
                            </li>
                            <li>
                              Kein Prozess sollte ewig warten (Starvation)
                            </li>
                            <li>Geschwindigkeit/ Anzahl CPU muss egal sein</li>
                          </ol>
                        </li>
                        <li>auf Software Ebene nicht trivial</li>
                      </ul>
                    </li>
                    <li>
                      Ein Lock (Software)
                      <ul>
                        <img src="./assets/EinLock.jpg" />
                        <li>
                          - Lock Variable Wird von allen Prozessen zugegriffen
                        </li>
                        <li>
                          - Wenn Prozess CPU entzogen wird innerhalb kritischem
                          Bereich, dann kommt es zu Starvation
                        </li>
                        <li>- busy waiting</li>
                        <li>
                          - Wenn Prozess CPU entzogen wird in kritischem Bereich
                          aber Lock noch nicht geänndert wurde, dann könnten
                          mehrere Prozesse gleichzeitig in kritischen Prozess
                          eintreten
                        </li>
                      </ul>
                    </li>
                    <li>
                      Strikter Wechsel (Software)
                      <ul>
                        <img src="./assets/StrikterWechsel.jpg" />
                        <li>
                          Mit verschiedenen Werten für Lock werden Reihenfolgen
                          festgelegt
                        </li>
                        <li>
                          - Wenn Prozesse in falscher Reihenfolge CPU bekommen
                          wird keiner in den kritischen Bereich kommen
                        </li>
                        <li>- turn wird von mehreren Prozessen zugegriffen</li>
                        <li>- Busy waiting</li>
                      </ul>
                    </li>
                    <li>
                      Lock mit Brute Force (Hardware)
                      <ul>
                        <li>Interrupts in kriitischem Bereich sperren</li>
                      </ul>
                    </li>
                    <li>
                      Atomare Operationen
                      <ul>
                        <img src="./assets/AtomareOperationen.jpg" />
                        <li>
                          Atomare Operationen dürfen nicht unterbrochen werden
                        </li>
                        <li>Warten und Ändern direkt zusammenfassen</li>
                      </ul>
                    </li>
                    <li>
                      Semaphoren
                      <ul>
                        <li>
                          Sempahoren sind Datenstrukturen mit Counter und Queue
                        </li>
                        <li>
                          Methoden
                          <ul>
                            <img src="./assets/Semaphor.jpg" />
                            <li>init(int s) - Initiaslisiert</li>
                            <li>
                              wait() - counter-- und wenn countery0 blockiert
                              den aufrufenden Prozess und fügt ihn in die Queue
                              ein
                            </li>
                            <li>
                              signal() - counter++ und wenn counter
                              größer/gleich 0 wecke einen Prozess aus der Queue
                              auf
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <h4>Producer - Consumer Problem</h4>
      <ul>
        <img src="./assets/Producer-Consumer.jpg" />
        <li>Puffer zwischen Erzeuger und Verbraucher</li>
        <li>Puffer voll: Erzeuger muss Produktion pausieren</li>
        <li>Puffer leer: Verbraucher kann keine Daten erhalten</li>
        <li>Wechselseitiger Auschluss notwendig, um Fehler zu vermeiden</li>
        <img src="./assets/Producer-ConsumerSemaphoren.jpg" />
        <li>Semaphoren schützen den Puffer</li>
        <li>lock blockiert, sobald ein Prozess den Puffer verwendet</li>
        <li>leer und voll verwalten die Länge vom Puffer</li>
      </ul>
    </li>
    <li>
      <h4>Deadlocks</h4>
      <ul>
        <li>Jeder Prozess wartet auf einen anderen</li>
        <li>Sind aus Code nicht zu erkennen</li>
        <li>
          Liegt an Aktivierungsreihenfolge der Prozesse (Zufall - Kann 1000 mal
          gut gehen)
        </li>
        <li>
          Bedingungen für Deadlocks
          <ul>
            <li>Wechselseitiger Ausschluss</li>
            <li>Anfordern von Betriebsmitteln</li>
            <li>
              Ununterbrechbarkeit (Ein Blockierter Prozess kann nicht
              unterbrochen werden)
            </li>
            <li>
              Zyklische Wartebedingung (Zyklische Kette von Prozessen - Jeder
              Prozess wartet auf den nächsten)
            </li>
          </ul>
        </li>
        <li>
          Erkennen von Deadlocks
          <ul>
            <li>
              Betriebsmittelgraphen
              <ul>
                <img src="./assets/Betriebsmittelgraph.jpg" />
                <li>Prozess = Kreis</li>
                <li>Ressource = Rechteck</li>
                <li>
                  Zugriff auf Ressourcen mit Pfeilen markieren
                  <ul>
                    <li>
                      Kante von Ressource zu Prozess: Prozess belegt Ressource
                    </li>
                    <li>
                      Kante von Prozess zu Ressource: Prozess wartet auf
                      Ressource
                    </li>
                  </ul>
                </li>
                <li>
                  Wenn Kanten einen Zyklus bilden, dann kann sich dort ein
                  Deadlock bilden
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          Behandeln von Deadlocks
          <ul>
            <li>Ignorieren (Unix - Passiert eh nicht häufig)</li>
            <li>Erkennen und Beheben</li>
            <li>
              Dynamische Verhinderung durch vorsichtige Betriebsmittelzuteilung
            </li>
            <li>Verbieten einer Bedingung (Siehe oben)</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
<h3>Zettel</h3>
<div class="zettel"></div>
